{% extends 'gallery/base.html' %}

{% block content %}
  <div class="top">
    <h2 class="text-center">Emilia Carter</h2>
    <h4 class="text-center">PhotoGraphy</h4>

    <ul class="list-flairs">
        <li><a href="#">Culture</a></li>
        <li><a href="#">Family</a></li>
        <li><a href="#">Wildlife</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Teenage</a></li>
        <li><a href="#">Desert</a></li>
    </ul>
  </div>
  <h2 class="text-center">Destined Photographer</h2>
  <hr>
    <div class="row">
      {% for post in posts %}
        <div class="col-lg-6 col-sm-12">
          <div class="card">
            <img src="{{ post.image.url }}" class="img-responsive" style='width: 100%; float: left; margin-right: 10px;' alt="">
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock content %}
